<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="AddressBookConnectionString" connectionString="data source=RS\SQLEXPRESS;initial catalog=AddressBook;Integrated Security=True;" />
	</connectionStrings>
  <system.web>
	  <pages theme="General"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>